<div class="row">
    <div class="col-12 mt-1 mb-2">
      <button class="btn btn-info" routerLink="add-product">Add a new Product</button>
     <form class="form-inline float-right">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    
    <div class="col-12 mb-5">
    <div class="row">
        <div *ngFor="let i of laptops; let x = index" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
      <app-item [laptop]="i"></app-item>
      </div>
      
    </div>
    </div>
    </div>