body > div {
    display: flex;
}

body > div > div {
    min-width: 20px;
    min-height: 20px;

    border: 1px solid grey;

    border-right: 0;
    border-bottom: 0;
}

body > div > div:last-child {
    border-right: 1px solid grey;
}

body > div:last-child > div {
    border-bottom: 1px solid grey;
}

.food {
    background-color: orange;
}

.snake {
    background-color: darkgreen;
}
