<div class="row">
    <nav class="nav flex-column bg-light sidebar d-none d-sm-block ">
        <div class="sidebar-sticky">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Buy</a>
          <a class="nav-link" routerLink="/home/sell_path" routerLinkActive="active">Sell</a>
          <a class="nav-link" routerLink="/home/order_link" routerLinkActive="active">My Orders</a>
          <a class="nav-link" routerLink="/home/favorites" routerLinkActive="active">My Favorites</a>
          </div>
        </nav>
        
        <nav class="navbar navbar-expand navbar-light bg-light d-block d-sm-none fixed-top side-bar-shortcut">
          <div class="navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="#">Buy</a>
              <a class="nav-item nav-link" href="#">Sell</a>
            <a class="nav-item nav-link" href="#">My Orders</a>
              <a class="nav-item nav-link" href="#">My Favorites</a>
          </div>
          </div>
        </nav>

</div>