.ProductGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3rem;
}

.Product {
    border: 1px solid;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
}

.Product > img {
    width: 100%;
}
