<div class="row sticky-top">
<div class="col-12 col-sm-2 p-0 border-right logo-navbar">
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="imgs/sell_buy_icon.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="logo-name">Sell & Buy</span>
      <span class="logo-name-shortcut">S&B</span>
      </a>
    </nav>
    </div>
    <div class="col-12 col-sm-10 p-0">
    <nav class="navbar navbar-expand navbar-light bg-light">
      <i class="fas fa-bars fa-2x"></i>
      
      <div class="navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">Best Seller</a>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Books</a>
              <a class="dropdown-item" href="#">Video games</a>
              <a class="dropdown-item" href="#">Movies</a>
          <a class="dropdown-item" href="#">Music</a>
              <a class="dropdown-item" href="#">Electronics</a>
              <a class="dropdown-item" href="#">Sports</a>
            </div>
          </li>
        <a class="nav-item nav-link" href="#">Notifications <span class="badge badge-warning">4</span></a>
      </div>
      </div>
      <span class="mr-1 connected-user">Welcome, Nadhir </span>
       <div class="btn-group dropleft">
      <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      
      <i class="fas fa-cog"></i>
      
      </button>
      <div class="dropdown-menu">
      <a class="dropdown-item connected-user-shortcut" href="#">Welcome, Nadhir</a>
        <div class="dropdown-divider connected-user-shortcut-divider"></div>
         <a class="dropdown-item" href="#">Account</a>
        <a class="dropdown-item" href="#">Settings</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </div>
    </nav>
    </div>
  </div>