<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <style>
        
        </style>
    </head>
    
    <body ng-app="myApp">
        <div ng-controller="myCtrl">
            <label>input a letter</label><input type="text" maxlength="2"  size="2" ng-model="letter">
           <ul>
            <!-- <li ng-repeat="x in names | filter: 'i'">  only select item of array which has a letter i -->
                <li ng-repeat = "x in names | filter: letter">
                {{x}}
            </li>
           </ul>
        </div>
         <div>
             
        </div>
        <script>
            var app = angular.module("myApp",[]);
            app.controller("myCtrl",function($scope){
                $scope.names = [
                    'ali',
                    'hassan',
                    'john',
                    'rajesh',
                    'vanshika',
                    'adhir',
                    'suzan',
                    'camile',
                    'adrianna',
                ];


            });
        </script>
    </body>
</html>
